<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Formulario de Productos</title>
  <link rel="stylesheet" href="/stylesheets/styles.css">
</head>
<body class="user-body">
  <%- include('partials/header') %>

  <main class="productos-container">
    <h2>Formulario de productos</h2>
    <form class="login-form">
      <input type="text" placeholder="Nombre del producto">
      <input type="number" placeholder="Precio">
      <button type="submit">Guardar</button>
    </form>
  </main>

  <%- include('partials/footer') %>
</body>
</html>
