<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Farmacia Paracetamol  - Inicio de Sesi贸n</title>
  <link rel="stylesheet" href="/stylesheets/styles.css">
</head>

<body class="login-body">
  <div class="login-container">
    <h1>Bienvenido a Farmacia Paracetamol </h1>
    <p class="subtitle">Por favor, inici谩 sesi贸n para continuar</p>

    <form action="/login" method="post" class="login-form">
      <input type="email" name="email" placeholder="Correo electr贸nico" required>
      <input type="password" name="password" placeholder="Contrase帽a" required>
      <button type="submit">Iniciar sesi贸n</button>
      <button type="submit" a href="/admin/quick" class="btn btn-secondary"></a> Acceso rapido </button>
    </form>

  </div>
  
</body>
</html>
