<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Dashboard Admin</title>
  <link rel="stylesheet" href="/stylesheets/styles.css">
</head>
<body class="user-body">
  <%- include('../partials/header') %>

  <main class="productos-container">
    <h2>Panel de Control</h2>
    <p>Bienvenido, administrador. Desde aquí podés gestionar los productos y ventas.</p>
    <a href="/admin/productos/nuevo"><button> + Nuevo producto</button></a>
    <%- include('./partials/product_table', { products: products }) %>
  </main>

  <%- include('../partials/footer') %>
</body>
</html>
