<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>

    <% if(title == "Express 2025") { %>

      <h3>Hola motor de plantillas</h3>

    <% } else { %>

      <p>Welcome to <%= title %></p>
      
    <% } %>

  </body>
</html>
