<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= titulo %></title>
    <script type="text/javascript">

        function mi_funcion(params) {
            return params;
        }
    </script>
</head>
<body>
    

<h4>Listado de usuarios</h4>

<%= //mis_usuarios %>

<% //for( const user in mis_usuarios) { 
    
    let mi_variable = 33;

    const retorno = mi_funcion(mi_variable);
    
    
    %>

<% ///mis_usuarios.each(.....) { %>

    <ol>
<% for(let i =0; i < mis_usuarios.length; i++) { %>


    <li><a href="#"><%= mis_usuarios[i] %></a></li>



<% } %>
    </ol>

</body>
</html>