<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Productos</title>
  <link rel="stylesheet" href="/stylesheets/styles.css">
  <link rel="icon" href="/fotos/favicon.jpg" type="image/png">
</head>
<body class="user-body">
  <%- include('../partials/header') %>

  <main class="productos-container">
    <h2>Catálogo de productos</h2>

    <div class="filtros">
      <input type="text" placeholder="Buscar producto...">
      <select>
        <option value="">Todas las categorías</option>
        <option value="analgésicos">Analgésicos</option>
        <option value="antibióticos">Antibióticos</option>
      </select>
    </div>

    <div class="lista-productos">
      <div class="producto-card">
        <img src="/fotos/Amoxidal Dúo.png" alt="Producto">
        <h3>Amoxidal Dúo</h3>
        <p>$1200</p>
        <button>Agregar al carrito</button>
      </div>
      <div class="producto-card">
        <img src="/fotos/Paracetamol Bayer 500mg.webp" alt="Producto">
        <h3>Paracetamol Bayer 500mg</h3>
        <p>$1500</p>
        <button>Agregar al carrito</button>
      </div>
      <div class="producto-card">
        <img src="/fotos/ibupirac-antigripal.jpg" alt="Producto">
        <h3>Ibupirac-antigripal x10</h3>
        <p>$2250</p>
        <button>Agregar al carrito</button>
      </div>
      
    </div>
  </main>

  <%- include('../partials/footer') %>
</body>
</html>
